@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Inter:wght@400;500;700&display=swap');


@import "card.scss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  width: 550px;
  max-width: 550px;
  padding: 7px;
  background: #fff;
  color: #000;
  border-radius: 25px;
  overflow: hidden;
}

nav {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 22px 30px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  border-radius: 25px 25px 0 0;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #FFFFFF;

  img {
    margin-right: 7px;
  }
}

main {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 37px);
  padding: 40px 40px 100px;
  overflow-x: hidden;

  .card:last-child {
    border-bottom: none;
  }

 

  .meme-generator {
    &__form {
     margin-top: 10px;
    }

    &__form-inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      max-width: 477px;
      margin-bottom: 20px;
    }

    &__form-input {

      background: #fff;
      border: 1px solid #ccc;
      margin: 20px 10px 20px 0;
      padding: 10px;
      border-radius: 5px;
      font-family: 'Karla', sans-serif;
      font-size: 12px;
      color: #0D0D0D;

      &:focus-visible {
       outline: 2px solid orange;
      }

      &:first-of-type {
        grid-area: 1 / 1 / 2 / 2;
      }

      &:last-of-type {
        grid-area: 1 / 2 / 2 / 3;
        margin-right: 0;
        margin-left: 10px;
      }
    }

    &__button {
      grid-area: 2 / 1 / 3 / 3;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
      font-family: 'Karla', sans-serif;
      font-size: 16px;
      font-weight: 700;

      &:focus-visible {
        outline: 2px solid orange;
       }
    }

    &__produced {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }

    &__image {
      width: 100%;
      height: 300px;
      border-radius: 20px;
      object-fit: cover;
    }

    &__subheader {
      position: absolute;
      font-family: 'Allerta Stencil', sans-serif;
      font-size: 2.2rem;
      font-weight: 900;
      text-transform: uppercase;
      color: #fff;
      text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;

      &:first-of-type {
        top: 0;
      }

      &:last-of-type {
        bottom: 0;
      }
    }
  }
}
